# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Vail
Name[ca]=Vail
Name[ca@valencia]=Vail
Name[cs]=Vail
Name[de]=Vail
Name[en_GB]=Vail
Name[es]=Vail
Name[eu]=Vail
Name[fr]=Vail
Name[it]=Vail
Name[ka]=Vail
Name[nl]=Vail
Name[nn]=Vail
Name[pt]=Vail
Name[sk]=Vail
Name[sl]=Vail
Name[tr]=Vail
Name[uk]=Vail
Name[x-test]=xxVailxx
Comment=Communicate using Morse
Comment[ca]=Comunicació usant el Morse
Comment[ca@valencia]=Comunicació utilitzant Morse
Comment[cs]=Komunikujte pomocí Morseovky
Comment[de]=Per Morse-Code kommunizieren
Comment[en_GB]=Communicate using Morse
Comment[es]=Comunicación mediante código morse
Comment[eu]=Komunikatu Morse erabiliz
Comment[fr]=Communiquer en utilisant le code Morse
Comment[it]=Comunica usando Morse
Comment[ka]=იქონიეთ ურთიერთობა მორზეს ანბანით
Comment[nl]=Communiceren met Morse
Comment[nn]=Kommuniser med morsealfabetet
Comment[pt]=Comunicar em código Morse
Comment[sk]=Komunikácia Morseovkou
Comment[sl]=Komuniciraj z Morsejevo kodo
Comment[tr]=Morse kullanarak iletişim kurun
Comment[uk]=Спілкування азбукою Морзе
Comment[x-test]=xxCommunicate using Morsexx
Exec=vail
Icon=org.kde.vail
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
SingleMainWindow=true
