# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Vail
Comment=Communicate using Morse
Exec=vail
Icon=org.kde.vail
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
SingleMainWindow=true
